
.DS_Store
.idea
.history
.ipynb_checkpoints/
*.tfstate
*.tfstate.*
*.csv
*.csv.gz
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
**/ny_taxi_postgres_data/*
serving_dir

week_1_basics_n_setup/2_docker_sql/pgadmin/pgadmin4.db
!week_6_stream_processing/avro_example/data/rides.csv

week_4_analytics_engineering/dbt_project_vgalante/target/
week_4_analytics_engineering/dbt_project_vgalante/dbt_packages/
week_4_analytics_engineering/dbt_project_vgalante/logs/